nav {
    background-color: gray;
    color: white;
    font-size: 2.5rem;
}

.field-item-label {
    margin-bottom: 10px;
}

.field-item-input {
    margin-bottom: 20px;
}

.form-with-validation {
    max-width: 600px;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

.exercise-list-accordion {
    list-style: none;
    padding: 0;
    width: 600px;
}

.exercise-list-accordion li {
    padding: 1px;
}

.exercise-list-checkbox {
    display: none;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.exercise-list-title {
    padding: 10px;
    margin: 0;
    border-top: 1px solid #36454F;
    background: #899499;
    cursor: pointer;
    display: block;
}

.exercise-list-content {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.exercise-list-content li {
    margin: 10px;
}

.exercise-list-checkbox:checked + .exercise-list-title + .exercise-list-content {
    max-height: 1000px;
}

.exercise-list-checkbox:checked + label::before {
    content: '-';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}