nav {
    background-color: gray;
    color: white;
    font-size: 2.5rem;
}

.field-item-label {
    margin-bottom: 10px;
}

.field-item-input {
    margin-bottom: 20px;
}

.form-with-validation {
    max-width: 600px;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: bold;
    color: #30353b;
    border-radius: 5px;
    cursor: pointer;
}

summary::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(images/arrow_chevron_down.svg) no-repeat;
    background-size: cover;
    transition: 0.2s;
    cursor: default;
}

details[open] summary::after {
    transform: rotate(180deg);
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
}

details {
    background-color: #b2beb5;
    background-image: linear-gradient(45deg, #a9a9a9 0%, #e5e4e2 100%);
    border-radius: 5px;
    cursor: default;
    width: 100%;
}