<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/accounts/profile">Profile</a> |
        {% if user.is_authenticated %}
            Signed in as {{user.email}}
            {% comment %}
            <!-- <form class="logout" action="{% url 'main_url_app:logout_user' %}" method="post">
                {% csrf_token %}
                <button class=""logout-button" aria-label="Log Out" title="Log Out Button">Log Out</button>
            </form> -->
            {% endcomment %}
            <a href="/accounts/logout">Logout</a> |
        {% else %}
            <a href="/accounts/signup">Sign up</a> |
            <a href="/accounts/login">Log In</a> |
        {% endif %}
    </nav>
    <main>
        {% block content %}
        Hello World!
        {% endblock %}
    </main>
</body>
</html>