{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}


{% block content %}
<h1>My Exercises</h1>
<select name="exercise_values" id="exercise_values_id">
<option selected disabled hidden>Select an Exercise</option>
{% for exercise_value in exercise_list %}
<option>{{ exercise_value }} | {{ exercise_value.default_unit }} | {{ exercise_value.author }}</option>
{% endfor %}
</select>
<h1><a href="/workout/new-exercise/">Create New Exercise</a></h1>


{% for muscle_group in muscle_groups %}
    <details>
        <summary>{{ muscle_group }}</summary>
        {% for exercise_value in exercise_list %}
            {% for muscle_group_value in exercise_value.muscle_group.all %}
                {% if muscle_group_value == muscle_group %}
                    <div>
                        {{ exercise_value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </details>
{% endfor %}


{% comment %}
<ul class="exercise-list-accordion">
    {% for muscle_group in muscle_groups %}
        <li>
            <input type="checkbox" class="exercise-list-checkbox" id="list-input-{{ forloop.counter }}">
            {% if forloop.counter == 1 %}
                <label for="list-input-{{ forloop.counter }}" class="exercise-list-title">{{ muscle_group }} (Click to Expand)</label>
            {% else %}
                <label for="list-input-{{ forloop.counter }}" class="exercise-list-title">{{ muscle_group }}</label>
            {% endif %}
            <div class="exercise-list-content">
                {% for exercise_value in exercise_list %}
                    {% for muscle_group_value in exercise_value.muscle_group.all %}
                        {% if muscle_group_value == muscle_group %}
                        <div>
                            {{ exercise_value }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endcomment %}

{% endblock %}